
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/SiteLayout.cshtml";
}



<h2>About</h2>

<div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            <p>Anti Money Laundering Specialist</p>
            <p>Junior Software Developer</p>
            <p>Lifelong Learner</p>
        </div>
    </div>
</div>