
@{
    ViewBag.Title = "UpdateBlogPost";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutPage1.cshtml";
}

<h2>Update Blog Post</h2>



@Html.Partial("/Areas/Admin/Views/Shared/Partial/FormAlertMessages.cshtml")

@Html.Partial("/Areas/Admin/Views/BlogPost/Partial/BlogPostForm.cshtml")


